* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    --information-font: Georgia, 'Times New Roman', Times, serif;
}

#postcard {
    position: relative;
    width: 45vw;
    height: 100vh;
}

#poster {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#postcard > .overlay {
    color: #202020;
    font-size: 2.5rem;
    background-color: #c7c7c78c;
    font-family: var(--information-font);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3% 4%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 20vh;
}

.overlay > #logo {
    width: 50%;
    height: auto;
}

.overlay > p {
    font-weight: 900;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 5%
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#inputs > p {
    font-size: 20px;
    
}

.flex-container {
    display: flex;
    gap: 15px;
}